@import "tailwindcss";

@theme {
  --color-primary: #386641;
}

@layer components {
  .card-item {
    @apply cursor-pointer bg-white border border-gray-200 rounded-2xl shadow-sm py-6 px-20 flex flex-col items-center
    transition-all duration-300 hover:shadow-md hover:-translate-y-0.5 hover:scale-105;
  }

  .card-title {
    @apply text-lg font-semibold text-gray-800;
  }
}

body {
  direction: rtl;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #386641;
  border-radius: 3px;
}

::-webkit-scrollbar-track-piece:start {
  margin-top: 15px;
}

::-webkit-scrollbar-track-piece:end {
  margin-bottom: 15px;
}
